#divMenu, ul, li, li li {

    margin: 0;

    padding: 0;

}

#divMenu {

    width: 260px;
    max-width: 100%;
}


#divMenu >ul

{

    
   border:1px solid #eee;
}


    #divMenu li {

        list-style: none;

        position: relative;

        background: white;

    }

 

        #divMenu li li {

            list-style: none;

            position: relative;

            background:#ffffff;
            color:#333333;
            left:0px;
            width: 196px;
            top: 0px;

        }
		

 

 

    #divMenu ul li a {

        display: block;

        text-decoration: none;
    padding:10px 0px 10px 5px;
        color:#333333;
        font-weight: 600;
        border-bottom:1px solid #eee;

    }
 #divMenu ul li ul li a{  }
 

    #divMenu ul ul {

        position: absolute;
/*border: 1px solid #eee;*/
        visibility: hidden;
        top:0px;
        right: -201px;
    width: 200px;
    z-index: 9999;
opacity:0;
  transition:opacity 0.5s linear;
    }

 

    #divMenu ul li:hover > ul {

        visibility: visible;
         transition-delay: 0.5s;
opacity:1;
    }

 

    #divMenu li:hover {

       /* background-color: white;*/

    }

 

    #divMenu ul li:hover ul li a:hover {

        background-color: white;

    }

 

    #divMenu a:hover {

        font-weight: bold;

    }
	

.vertical-menu {
    width: 200px;
}

.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: white;
}

.vertical-menu a.active {
    background-color: #e83f33;
    color: white;
	width: 250px;
}



