.top_text
{
text-align:center;
}
.align_brn
{
 background-image: linear-gradient(to bottom, #FBB450, #F89406);
 
}
.product_show
{
text-align:center;
}
.align_brn:hover {
    background-color: #FF9C0E;
	}
.com_text
{
text-align:center;
}
.add_bit
{
color:#000;
padding-left:5px;
}	
.bit_font
{
font-size:11px;
line-height:12px;
}
.dolor_text
{
height:25px;
}
.icon_me
{
color:#fff;
margin-top:5px;
text-shadow:none;
font-weight:normal;
}
.icon_me:hover{color:#fff;}
.prev_text
{
margin-bottom:0px;
}

.text_tab
{
	width:100%;
	float:left;
	padding:0px;
	margin:0px;
	list-style-type:none;
}
.text_tab li
{
	float:left;
}
.text_tab li a
{
	text-decoration:none;
	color:#ff8400;
	padding-right:10px;
}
.hero-unit {
    background:none;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 60px;
}
.text_for
{
	color:#ff8400;
}
#MyDiv
{
	margin-left:0px!important;
}
#MyDiv1
{
	margin-left:0px!important;
}
#MyDiv2
{
	margin-left:0px!important;
}
#MyDiv3
{
	margin-left:0px!important;
}
#MyDiv4
{
	margin-left:0px!important;
}
#MyDiv5
{
	margin-left:0px!important;
}

.topnav {
	max-width:100%;
	padding: 40px 28px 25px 0;
	font-family: "CenturyGothicRegular", "Century Gothic", Arial, Helvetica, sans-serif;
}

ul.topnav {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 0.5em;
	list-style: none;
}

ul.topnav li {}

ul.topnav li a {
	line-height: 26px;
	font-size: 14px;
	padding: 10px 5px;
	display: block;
	text-decoration: none;
	color:#fff;
	background-color: #3A3F44;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#52575C), color-stop(70%, #3A3F44), to(#3A3F44));
	background-image: -webkit-linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
	background-image: -moz-linear-gradient(top, #52575C, #3A3F44 70%, #3A3F44);
	background-image: -o-linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
	background-image: linear-gradient(#52575C, #3A3F44 70%, #3A3F44);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52575c', endColorstr='#ff3a3f44', GradientType=0);
	border: 1px solid #999;
	
}

ul.topnav li a:hover, ul.topnav li a.active {
	background:#888;
	color:white;
}



ul.topnav ul {
	margin: 0;
	padding: 0;
	display: none;
}

ul.topnav ul li {
	margin: 0;
	padding: 0;
	clear: both;
	background:#888; font-weight:normal;display:block;   font-size:13px; line-height:10px; 
}

ul.topnav ul li a {
	padding-left: 20px;
	font-size: 10px;
	font-weight: normal;
	outline:0;
	background:#888; font-weight:normal;display:block;   font-size:13px; line-height:10px;
	
}

ul.topnav ul li a:hover {
	background-color:#959595;
	color:#fff;
}

ul.topnav ul ul li a {
	color:silver;
	padding-left: 30px;
}

ul.topnav ul ul ul li a {
	color:silver;
	padding-left: 50px;
}

ul.topnav ul ul li a:hover {
	background-color:#989898;
	color:#fff;
}

ul.topnav span{
	float:right;
}