body {
	margin: 0px;
	padding: 0px; margin:0px; padding:0px;  background-color:#E4F2FB; font-family:Verdana, Geneva, sans-serif; font-weight:normal; font-size:12px;
}
h1, h2, h3, h4, h5, h6, p, span, label, form, input, li, ol, dl, ul, br, img, div, textarea, checkbox, radio, button, textarea, select, hr, a{ margin:0; padding:0;}
html{ height:100%;}
input, select, radio{ vertical-align:middle;}
img {border:0;}
a img {border:none;}
a{text-decoration:none; color:#25a9e0;}
a:hover{ text-decoration:underline;}
h2 {font-size:18px; color:#5c5c5c; font-weight:normal;}
h3 {font-size:14px; color:#757372; font-weight:bold;}
p{font-size:13px; color:#000000; font-family:Arial, Helvetica, sans-serif;}
.wrapper{margin:0 auto; width:1030px;}
.header{width:1000px; float:left; padding:0px 0 0px 0; height:auto; padding:0 15px 0 15px;}
.logo1{width:500px; float:left; padding:31px 0 0px 0; height:100px;}
.logo_links{width:500px; float:left; padding:81px 0 0px 0; height:50px;}
.mybg{width:1000px; float:left; padding:0px 0 0px 0; height:35px; background-color:#104884;margin-top: 23px;}
.head{
color:#fff;
 font-size: 14px;
 font-weight: bold;
text-align:center;
}
.head2{
color:#104884;
 font-size: 14px;
    font-weight: bold;
}	
.body1{width:1000px; float:left; height:auto;padding:0 15px 0 15px;}
.body2{width:960px; float:left; height:auto; padding:20px; background-color:#F9F9F9;}
.mid_ticket_list{width:960px; float:left; height:auto; padding:10px 0 5px 0;}
.main_table{width:960px; float:left; height:auto; padding:5px 0 5px 0;}

.cl1{width:600px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#333;}
.cl2{width:100px; float:left;  font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#333;}
.cl3{width:110px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#333;}
.cl4{width:120px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#333;}

.tr1{width:950px; float:left; height:40px; padding:0px 5px 0 5px; background:#E0ECF4; line-height:40px; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#333;}
.tr2{width:950px; float:left; height:40px; padding:0px 5px 0 5px;background-color:#cfcfcf; line-height:40px;font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal; color:#333;}

.post_box {
    border-bottom: 1px solid #1F88F5;
    margin: 2px 0;
	background: repeat-y scroll center top transparent;

}
.post_box .text {

    float: left;
    padding-left: 20px;
    width: 480px;
	font-family:Verdana, sans-serif;
	font-size:13px;	
}
.comments-info {
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 20px;
    position: relative;
    z-index: 10;
}

	.pmc_loadbox
	{
	font-weight:bold;
	color:#333333;
	text-align:center;
	border:solid 1px #333333;
	padding:8px;
	margin-top:3px;
	margin-bottom:8px;
	-moz-border-radius: 6px;-webkit-border-radius: 6px;
    background-color:#FFFFFF;	
	}
	.pmc_loadbox a{ color:#333333; text-decoration:none}
	.pmc_loadbox a:hover{ color:#333333; text-decoration:none}
