.farbtastic {
  position: relative;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}
.farbtastic .wheel {
  background: url(../../../images/wheel.png) no-repeat;
  width: 195px;
  height: 195px;
}
.farbtastic .overlay {
  background: url(../../../images/mask.png) no-repeat;
}
.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden;
  background: url(../../../images/marker.png) no-repeat;
}

#ntc #picker {
  float: left;
}

#ntc #colortag {
margin-top: 20px !important;
}

#ntc #colorname sup {
  font-size: 0.6em;
  margin-left: 6px;
  color: #AAA;
}

#ntc #colorname sup#solid {
  color: #966;
}

#ntc #colorpick {
  float: right;
  width: 197px;
  margin-bottom: 4px;
  font-size: 0.8em;
  color: #000;
}

#ntc #colorpick select {
  width: 190px;
  height:30px;
}

#ntc #colorpick .w {
  color: #FFF;
}

#ntc #colorbox {
  position: relative;
  border: 4px solid #CCC;
  width:100%;
  height: 55px;
  clear: both;
}

#ntc #colorsolid {
position: absolute;
border: 2px solid #DDD;
margin: 9px;
left: 0px;
width: 32px;
height: 32px;
}

#ntc #colorpanel {
  position: relative;
  font-weight: bold;
  color: #000;
  border: 4px solid #CCC;
  border-top: 0;
  width:100%;
  height: 55px;
}

#ntc #colorhex {
  position: absolute;
  top: 19px;
  left: 16px;
}


#ntc #colorinp {
  position: absolute;
  top: 16px;
  left: 120px;
}

#ntc #colorrgb {
  position: absolute;
  top: 19px;
  left: 350px;
}

#ntc #colorlegend {
  text-align: center;
  font-size: 0.8em;
  margin: 8px;
}

#ntc .clear {
  clear: both;
}
#ntc #colorpanel input[type="text"] {
    width: 85px;
}